* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica";
}

.btn-green {
  padding: 8px 12px;
  background-color: #5cb85f;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}

nav {
  padding-top: 24px;
  background-color: #f1f3ff;
}

.logo {
  color: #21325e;
  font-weight: 600;
  text-decoration: none;
}

.logo:hover {
  color: #21325e;
}

.logo-title {
  padding-left: 0.7rem;
  border-left: 1px solid #21325e;
  font-size: 14px;
  font-weight: lighter;
}

.menu-list {
  font-weight: 500;
  color: black;
  text-decoration: none;
}

.menu-list:hover {
  color: black;
}

section.hero {
  height: 48vh;
  background-color: #f1f3ff;
  background-image: url(../images/bg_car.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.hero-content {
  padding-top: 7rem;
}

.hero-content > .title {
  width: 50%;
  font-weight: bolder;
  font-size: 36px;
}

.hero-content > .desc {
  width: 40%;
  margin-top: 16px;
  line-height: 1.6rem;
}

.hero-content > button {
  margin-top: 16px;
}

section.service {
  padding: 150px 50px 50px;
  display: flex;
  align-items: center;
  gap: 5rem;
}

.service-content {
  margin: 0 3rem;
}

.service-content > .title {
  font-weight: bold;
  font-size: 32px;
}

.service-content > .desc {
  width: 90%;
  margin-top: 2rem;
  line-height: 1.7rem;
}

.service-list li {
  margin-top: 1rem;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.service-list .check-logo {
  background-color: #cfd4ed;
  padding: 1px 5px;
  border-radius: 50%;
}

section.why-us {
  padding: 80px 0px;
}

section.why-us > .title {
  font-weight: bold;
  font-size: 32px;
}

section.why-us > .desc {
  margin-top: 1rem;
}

.card-why-us {
  gap: 2.3rem;
}

.card-why {
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-why .title {
  margin-top: 5px;
  font-weight: bold;
}

.card-why .thumb-logo {
  width: fit-content;
  padding: 2px 7px 7px;
  border-radius: 100%;
  background-color: #f9cc00;
}

.card-why .tag-logo {
  width: fit-content;
  padding: 5px 6px 5px 7px;
  border-radius: 100%;
  background-color: #fa2c5a;
}

.card-why .clock-logo {
  width: fit-content;
  padding: 4px 7px 6px;
  border-radius: 100%;
  background-color: #0d28a6;
}

.card-why .award-logo {
  width: fit-content;
  padding: 4px 7px 6px;
  border-radius: 100%;
  background-color: #5cb85f;
}

section.testimoni {
  padding: 70px 0px;
}

.testimoni .title {
  font-size: 32px;
  font-weight: bold;
}

.testi-card {
  padding: 5rem 3rem;
  background-color: #f1f3ff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.testi-card > .user-foto > img {
  width: 5rem;
  height: 5rem;
}

.testi-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.testi-content > .rating {
  display: flex;
  gap: 3px;
}

.testi-content > .rating > img {
  width: 1.2rem;
}

.testi-content > .user {
  font-weight: bold;
}

.btn-testi-nav > button {
  background-color: #fff;
  border-radius: 100%;
  border: 1px solid #ccc;
}

.btn-testi-nav > button:hover {
  border-color: #5cb85f;
  background-color: #5cb85f;
}

.btn-testi-nav > button:hover > svg > path {
  stroke: #fff;
}

.customPrevBtn {
  padding: 4px 8px 5.5px 7px;
}

.customNextBtn {
  padding: 4px 7px 5.5px 8px;
}

section.sewa {
  margin-top: 2rem;
  padding: 5rem 0 4rem;
  background-color: #0d28a6;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.sewa > .title {
  font-weight: bold;
  font-size: 42px;
  color: #fff;
}

.sewa > .desc {
  width: 40%;
  color: #fff;
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 3rem;
}

section.faq {
  padding: 120px 0px;
  display: flex;
}

.accordion-item {
  border: 1px solid #ccc !important;
  border-top-right-radius: 5px !important;
  border-top-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  overflow: hidden;
}

.accordion-item button {
  padding-left: 1.5rem !important;
}

.faq-content > .title {
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 1rem;
}

footer {
  margin: 4rem 0 7rem;
}

.footer-menu a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.foot-contact-logo {
  background-color: #0d28a6;
  padding: 5.5px 7.5px;
  border-radius: 100%;
}

/* .foot-contact-logo {
  padding: 8px 9px 9px;
  border-radius: 100%;
} */
